@{
    Layout = null;
}

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>inform</title>
</head>

<body>
    <div>
        <h3>Полезная информация:</h3>
    </div>

    <hr>

    <div>
        <div>
            <p>Сделано записей -</p>
            <p>Оставлено комментариев -</p>
            <p>За последний месяц я создал записей - </p>
            <p>За последний месяц оставлено комментариев -</p>
            <p>Моя последняя запись -</p>
            <p>Самая обсуждаемая запись -</p>
        </div>
    </div>

    <div>
        <a class="btn btn-primary" asp-action="Index">На главную страницу сайта</a>
    </div>

</body>
</html>
